/* not really worthy of its own file but wtv */
body {
    font-family: sans-serif;
    margin: 0; /* there is likely a better way to get the header to be flush with the top */
}
a {
    text-decoration: none;
}