header {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    padding: 0 1vw;
    line-height: 0.95;
    font-weight: bold;
}
.logo img {
    height: 10vh;
}
.billericay-logo-text {
    color: #082c68;
    font-size: 3.3vh;
    margin: 1vh 0.5vw;
}
.chill-logo-text {
    color: #00b4f6;
    font-family: serif;
    font-size: 6.5vh;
}

/* div is NEEDED for text to be in the top right, :pensive: */
header div {
    margin-left: auto;
}
header .nav-button, header .current-page {
    display: inline-block;
    transition: 0.2s;

    font-size: 2.5vh;
    font-weight: bold;
    color: #082c68;
    padding-inline: 2vw;
    white-space: nowrap;
}
header .nav-button:hover, header .current-page {
    transform: scale3d(1.1, 1.1, 1.1);
}
@media (max-width: 1000px) {
    header div {
        display: none;
    }
}

header .current-page {
    text-decoration: underline;
    text-decoration-thickness: 0.2vh;
    text-underline-offset: 2vh;
}