/* title text is the text w the background image on the main page */
.title {
    background-color: #c5ddf4;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;

    padding: 10vh 10vw;
    color: black;
}
@media (max-width: 1000px) {
    .title {
        padding-top: 0;
        background-position: 60% 30vh;
        padding-bottom: 30vh;
    }
}

.centered-title h1, .title h1 {
    padding: 10vh 0 5vh 0;
    font-size: 10vh;
    font-weight: bold;
    text-transform: uppercase;
    color: #082c68;
    margin: 0;
    line-height: 0.9;
}
.centered-title h2 {
    font-size: 3vh;
    margin: 0 0 3vh 0;
    line-height: 0.9;
}
#cool-title-text {
    color: #00b4f6;
}
.title p {
    font-size: 2.5vh;
    width: min(50vh, 80vw);
}